extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1 #{project}

        p #{description}

      .project-tech-links-box.box
        h6 Technologies

        ul
          each technology in technologies
            li #{technology}

        a.btn-link(href=`${demo}` target='_blank') Live Demo
        a.btn-link(href=`${github}` target='_blank') GitHub Repo

    .project-img-box.box
      each image in images
        img.project-img(src=`${image}`, alt=`${description}`)

    nav.nav
      a(href='/')
        span &larr;
        |  Back
